body{
    background-color: #e7cca9;
    font-family: 'Times New Roman', Times, serif;
}
.Encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.encabezadoPedido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.Pedido{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.encabezadoPedido,
#contendorclonar,
#Factura,
#resumenFactura {
    display: none;
}
