body{
    background-color: #e7cca9;
    font-family: 'Times New Roman', Times, serif;
}
.Encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.encabezadoPedido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.Pedido{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.encabezadoPedido,
#contendorclonar,
#Factura,
#resumenFactura {
    display: none;
}
.solo-letras{
    background-color: #e7cca9;
    border-color: black;
    
}
.CIF{
    background-color: #e7cca9;
    border-color: black;
}
.Fecha{
    background-color: #e7cca9;
    border-color: black;
}
.crearpedido{
    background-color: #e7cca9;
    border-color: black;
}
.inputsPedido{
    background-color: #e7cca9;
    border-color: black;
}
.descripcion{
    background-color: #e7cca9;
    border-color: black;
}
.unidades{
    background-color: #e7cca9;
    border-color: black;
}
.precio-unitario{
    background-color: #e7cca9;
    border-color: black;
}
.iva{
    background-color: #e7cca9;
    border-color: black;
}
.total{
    border-color: black;
    background-color: bisque;
}